@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    background: url(class1.jpg);
    background-position: center;
    background-size: cover;
}

#form {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(class2.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;
}

#form .row {
    padding: 1.15rem;
}

#form #btn1 {
    padding-bottom: 30px;
    align-self: center;
}

#form #btn1 #submit {
    padding: 0 30px;   
}
#table {
    width: 100%;
}
#table td {
    border: 2px solid coral;
    padding: 8px;
    text-align: center;
}
#btn {
    text-align: center;
    padding: 20px;
}
#btn #btn2 {
    margin: 1.5rem;
}