@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    scroll-behavior: smooth;
}
header {
    position: relative;
    margin: 30px;
    z-index: 1000000;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
.navbar-dark .navbar-brand:hover {
    color: #f5deb3 !important;
    font-size: 2rem;
    font-weight: 600;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255) !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f5deb3 !important;
}
.jumbotron {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/cover-1.jpg");
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #000 !important;
    margin-bottom: 0 !important;
    border-radius: 0rem !important;
}
.jumbotron .display-4 {
    color: #f5deb3;
    font-size: 5rem;
    font-weight: 600;
    margin-top: 15vmin;
}
.jumbotron .lead {
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
}
.sec1 {
    position: relative;
    background: #000   ;
    padding-top: 30px;
    color: #fff;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.sec1 .textBox {
    margin-bottom: 30px;
    vertical-align: middle;
    object-fit: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}
.sec1 .textBox h1 {
    color: #f5deb3;
    font-size: 1.75rem;
}
.sec1 .textBox p {
    font-size: 1.15rem;
}
.figure-caption {
    color: #fff !important;
    font-size: 90% !important;
}
ol li {
    list-style: none;
    text-align: center;
    color: #000;
    font-weight: 600;
}
footer {
    background: #000;
    padding: 30px 0 0;
    text-align: center;
}
.sci {
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
    margin: 0 10px;
}
.sci li a {
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}
.sci li a:hover {
    color: #fff;
}
.copyright {
    text-align: center;
    color: #777;
}